/*
.record {
  border: 1px solid #ccc;
  border-radius: 3px;
  list-style: none;
  display: flex;
  color: #666;
  justify-content: space-around;
  padding: 0;
  height: 40px;
  align-items: center;
  background-color: antiquewhite;
}

.record-date {
  display: flex;
  gap: 10px;
}

.record-calories {
  color: #012367;
  font-weight: bold;
}
*/