:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --theme-background-ultralight: #effaff;
  --theme-background-normal: #a0d2eb;
  --theme-background-light: #e5eaf5;
  --theme-color-light: #d0bdf4;
  --theme-color-normal: #8458B3;
  --theme-color-dark: #494d5f;
}

body {
  max-width: 1024px;
  /**
   * - Normal block layout ? horizontal centering but it is not vertically centered. (applies here)
   * - Flexbox ? margin: auto can center both
   */
  margin: auto;
}
